/*homepage*/
.main_content{
    margin-top: 50px;
}

.main_content .layout{
    width: 80%;
    margin: 0 auto;
}

.main_content .home_introduction{
    border-bottom: 1px solid #e9e9e9;
    width: 80%;
    margin: 0 auto;
    height: 700px;
}

.main_content .home_introduction .left_section{
    float: left;
    width: 60%;
    text-align: center;
}

.main_content .home_introduction .left_section .text{
    font-weight: 600;
}

.main_content .home_introduction .left_section .text .section--description span{
    color: #ff0000;
    font-weight: 700;
    font-size: 1.1em;
}

.main_content .home_introduction .right_section{
    margin-right: 100px;
    padding-top: 50px;
    width: 30%;
    float: right;
}

.main_content .home_introduction .right_section .right_section_top{
    background-color: #adadad;
    height: 200px;
}

.main_content .home_introduction .right_section .right_section_top .title{
    padding-top : 30px;
}

.main_content .home_introduction .right_section .right_section_bottom{
    margin-top: 20px;
}

/* company */
.main_content .comp_introduction{
    border-bottom: 1px solid #e9e9e9;
    width: 60%;
    margin: 0 auto;
    height: 1000px;
}

.main_content .comp_introduction .company_name{
    color: #ff0000;
    font-weight: 800;
    font-size:1.2em;
    padding: 20px 0 10px 0;
}

.main_content .comp_introduction .comp_intr_item{
    padding-top: 20px;
}
.main_content .comp_introduction .comp_intr_item .list{
    margin-left: 90px;
}
.main_content .comp_introduction .comp_intr_item .item{
    font-weight: 700;
    width: 120px;
}
.main_content .comp_introduction .comp_intr_item ul li{
    list-style-type:none;
}

/* contact */
.main_content .layout .contact_img{
    margin: 0 auto;
    width: 50%;
    padding-bottom: 20px;
}

.main_content .contact_introduction{
    border-bottom: 1px solid #e9e9e9;
    width: 60%;
    margin: 0 auto;
    height: 400px;
    text-align: center;
}

.main_content .contact_introduction .title{
    color: #ff0000;
    font-weight: 800;
    font-size:1.6em;
    padding: 20px 0 10px 0;
}

/* products */
.main_content .products_introduction{
    border-bottom: 1px solid #e9e9e9;
    width: 80%;
    margin: 0 auto;
    height: 1300px;
}

.main_content .products_introduction .menu{
    text-align: center;
    vertical-align:middle;
}
.main_content .products_introduction .menu ul li{
    list-style-type:none;
    padding: 10px 0 10px 0px;
    font-size: 1.2em;
}

.main_content .products_introduction .menu ul .menu_active{
    background-color: #0f9ae0;
}

.main_content .products_introduction .menu ul .menu_active a{
    color: #ffffff;
}

.main_content .products_introduction .menu ul li:hover{
    color: #939393;
    cursor: pointer;
}

.main_content .products_introduction .image_content{
    text-align: center;
}

.main_content .products_introduction .image_content .item{
    padding-bottom: 50px;
}
.main_content .products_introduction .page{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}